.restaurant-page {
  width: 100%;
  background-color: rgb(248, 248, 243);
}
.link {
  text-decoration: none;
}

.tabs_menu {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  border: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: lavender;

  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}
.tab {
  border-top: none;
  border-left: none;
  border-right: none;
  width: max-content;
  margin-right: 10px;
  padding: 15px;
  background-color: transparent;
  border-bottom: 1px;
  font-weight: 500;
  font-size: 15px;
}
.dishes-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 3px;
}

.dish-image {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .dish-image {
    align-self: center;
    height: 80px;
    width: 80px;
  }
}

.dish-name {
  margin-top: 0px;
  font-family: 'Roboto';
  color: rgb(24, 20, 20);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  width: fit-content;
}
@media screen and(min-width: 768px) {
  .dish-name {
    font-size: 20px;
  }
}
.dish-price {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  margin-top: 0px;
  color: rgb(92, 87, 87);
  margin-bottom: 14px;
  font-size: 10px;
  width: fit-content;
}

.addon-cat {
  color: blue;
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 12px;
  width: fit-content;
}
.dish-availability {
  color: red;
  margin-bottom: 0px;
  margin-top: 9px;
  width: fit-content;
  font-size: 12px;
}

.veg-container {
  border: solid;
  border-width: 1px;
  color: green;
  padding: 4px;
  width: fit-content;
}

.veg-symbol {
  background-color: green;
  color: green;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.non-veg-container {
  border: solid;
  border-width: 1px;
  color: brown;
  padding: 4px;
  width: fit-content;
}

.non-veg-symbol {
  background-color: brown;
  color: brown;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.calories {
  margin: 0px;

  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: orange;
  font-weight: 600;
}
@media screen and (min-width: 476px) {
  .calories {
    margin-right: 100px;
  }
}

@media screen and (min-width: 768px) {
  .calories {
    margin-right: 300px;
  }
}

.item-details {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calories-container {
  display: flex;
  align-items: center;
  align-self: center;
}

.dish-description {
  font-family: 'Roboto';
  margin-top: 0px;
  color: gray;
  font-size: 10px;
  width: fit-content;
}

.dish-item {
  display: flex;
  align-items: flex-start;
}

.dish-list-item {
  margin-bottom: 10px;
  border: solid;
  border: none;
  box-shadow: 1px 1px 4px black;
  padding: 8px;
  border-radius: 4px;
  margin-left: 7px;
  margin-right: 7px;
}

.extra {
  color: crimson;
  border-width: 2px;
  border-bottom: 1px;
  border-bottom-color: crimson;
}
.addToCartButton {
  margin-bottom: 7px;
  border: none;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(76, 221, 76);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  transition-duration: 0.4s;
  width: fit-content;
}
.addButton:hover {
  background-color: rgb(224, 224, 10);
  color: red;
}
